
.main-container{
  text-align: center;

  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: auto auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.cv-preview {
  border: 1px solid black;

}
